.header{
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}

.search-bar{
    padding: 0px;
    display: flex;
    justify-content: center;
}

body{
    background-color:#4B4453;
}


.container1{
    float: left;
    width: 100;
    background-color: rgb(145, 137, 161);
    height: 500px;
    width: 600px;

}

.container2{
    float:right;
    width: 100;
    background-color: rgb(145, 137, 161);
    border: 15px;
    height: 500px;
    width: 600px;
}